body {
  background-color: #383838;
  color: white;
  font-family: Tahoma, Verdana, sans-serif;
  text-align: center;
}

a:link {
  color: #04bf9a;
}

a:visited {
  color: teal;
}

button {
  font-family: Tahoma, Verdana, sans-serif;
  border: 2px solid teal;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: white;
}

button:hover {
  color: black;
  background-color: #72cca3;
}

input {
  font-family: Tahoma, Verdana, sans-serif;
  text-align: center;
  color: white;
  background-color: #4a4a4a;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

input:disabled {
  color: black;
  background-color: #262626;
  border: 2px solid black;
}

.plusMinus {
  height: 25px;
  width: 35px;
  font-size: 14px;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}

.charInputs {
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.charContainer {
  margin: auto;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.quote {
  text-align: left;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 60%;
  border: 2px solid teal;
  border-radius: 8px;
}

#numberSelect {
  height: 25px;
  min-width: 30px;
  font-size: 14px;
}

#promptButton {
  margin-top: 20px;
  height: 32px;
  width: 180px;
  font-size: 14px;
  cursor: pointer;
}

#sourceDisplay {
  opacity: 0.75;
}
